<div class="panel-header panel-header-sm" *ngIf="!isSubComponent"></div>
<div *ngIf="region" [class.main-content]="!isSubComponent">
  <!-- form -->
  <form class="card" #modelForm="ngForm">
    <div class="card-header">
      <h5 class="title d-inline-block">{{ labels.region.ownName }}</h5>
      <h6 class="ps-1 d-inline-block ms-2">{{ labels.region.id.label }} {{ region.id }}</h6>
    </div>
    <div class="card-body">
      <!-- name . init -->
      <div class="form-group">
        <label for="region-name">{{ labels.region.name.label }} *</label>
        <input
          id="region-name"
          name="region-name"
          [(ngModel)]="region.name"
          #region_name="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!region_name.valid && region_name.dirty && region_name.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.region.name.label }} es requerido
        </div>
      </div>
      <!-- name . end -->
      <!-- code . init -->
      <div class="form-group">
        <label for="region-code">{{ labels.region.code.label }} *</label>
        <input
          id="region-code"
          name="region-code"
          [(ngModel)]="region.code"
          #region_code="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!region_code.valid && region_code.dirty && region_code.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.region.code.label }} es requerido
        </div>
      </div>
      <!-- code . end -->
      <!-- country . init -->
      <div class="form-group">
        <app-country-auto-complete
          id="region-country"
          [name]="labels.country.ownName"
          [(ngModel)]="region.country"
          #region_country="ngModel"
          [disabled]="isSubComponentFrom === 'country'"
          [currentPage]="mApi.show()"
          required
        >
        </app-country-auto-complete>
        <div
          *ngIf="!region_country.valid && region_country.dirty && region_country.errors?.['required']"
          class="alert alert-danger form-text"
        >
          {{ labels.country.ownName }} es requerido
        </div>
      </div>
      <!-- country . end -->
    </div>
    <div class="card-footer">
      <button (click)="onBack()" type="button" class="btn btn-secondary m-1">Regresar</button>
      <button
        *ngIf="hasPermission2edit"
        (click)="onSave()"
        type="submit"
        class="btn btn-primary m-1"
        [disabled]="!modelForm.form.valid || sending"
      >
        Guardar
        <div *ngIf="sending" class="fa-3x i-sending mx-1 float-end">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
      </button>
      <button
        *ngIf="hasPermission2new && !isSubComponent && region.id"
        (click)="addNew()"
        type="button"
        class="btn btn-warning m-1"
      >
        Agregar otro
      </button>
    </div>
  </form>
  <!-- form . end -->
  <!-- related . init -- >
<div *ngIf="region?.id">    <nav ngbNav #nav="ngbNav" class="nav-tabs">
<ng-container ngbNavItem>
    <a ngbNavLink>{{labels.user.ownNamePlural}}</a>
    <ng-template ngbNavContent>
    <app-user-list [region]="region"
                         [isSubComponent]="true">
    </app-user-list>
    </ng-template>
</ng-container>
<ng-container ngbNavItem>
    <a ngbNavLink>{{labels.city.ownNamePlural}}</a>
    <ng-template ngbNavContent>
    <app-city-list [region]="region"
                         [isSubComponent]="true">
    </app-city-list>
    </ng-template>
</ng-container>
</nav><div [ngbNavOutlet]="nav" class="bg-white"></div></div>
<!-- related . end -->
</div>
