<div class="panel-header panel-header-sm" *ngIf="!isSubComponent"></div>
<div [class.main-content]="!isSubComponent">
  <div class="row" *ngIf="!isSubComponent">
    <div class="col-md-12">
      <form class="card" #modelForm="ngForm">
        <div class="card-header">
          <h5 class="title">{{ labels.country.ownNamePlural }}</h5>
        </div>
        <div class="card-body"></div>
        <div class="card-body">
          <ng-template baseCmsJfAddComponent></ng-template>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <button (click)="addFilter()" type="button" class="btn btn-info m-1 float-end">
                  Agregar criterio de búsqueda
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="onLazyLoad()" type="submit" class="btn btn-primary m-1">Buscar</button>
          <button (click)="addNew()" type="button" class="btn btn-warning m-1" *ngIf="hasPermission2new">
            Crear {{ labels.country.ownName }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-country-detail
    *ngIf="itemCurrent"
    [country]="itemCurrent"
    [isSubComponent]="isSubComponent"
    [isSubComponentFrom]="isSubComponentFrom"
    (saveClicked)="saveFormClicked($event)"
    (cancelClicked)="itemCurrent = undefined"
  >
  </app-country-detail>
  <div class="row" *ngIf="!itemCurrent">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <button
            *ngIf="hasPermission2new && isSubComponent"
            (click)="addNew()"
            type="button"
            class="btn btn-warning m-1"
          >
            Crear {{ labels.country.ownName }}
          </button>
          <button *ngIf="!isSubComponent" (click)="clearFilters()" type="button" class="btn btn-link m-1">
            Limpiar filtros de búsqueda
          </button>
          <small class="m-1 fw-light p-1">{{ responseList.totalElements }}</small>
        </div>
        <div class="card-body">
          <div class="table-full-width t-responsive table-responsive">
            <table class="table table-sm table-striped table-hover">
              <thead class="text-nowrap text-primary">
                <tr>
                  <th
                    [jfMultiSortMeta]="labels.country.id.field!"
                    [sorts]="modelSearch.lazyLoadEvent.sorts"
                    (sort)="onSort($event)"
                    scope="col"
                  >
                    {{ labels.country.id.label }}
                  </th>
                  <th
                    [jfMultiSortMeta]="labels.country.name.field!"
                    [sorts]="modelSearch.lazyLoadEvent.sorts"
                    (sort)="onSort($event)"
                    scope="col"
                  >
                    {{ labels.country.name.label }}
                  </th>
                  <th
                    [jfMultiSortMeta]="labels.country.code.field!"
                    [sorts]="modelSearch.lazyLoadEvent.sorts"
                    (sort)="onSort($event)"
                    scope="col"
                  >
                    {{ labels.country.code.label }}
                  </th>

                  <th></th>
                </tr>
              </thead>
              <tbody class="text-nowrap">
                <tr *ngFor="let model of responseList.content">
                  <td class="td-actions">
                    <button
                      [disabled]="!hasPermission2show"
                      (click)="onRowSelect(model)"
                      type="button"
                      class="btn btn-sm btn-info m-1 row-select-country-{{ model.id }}"
                      title="Ver {{ labels.country.ownName }}: {{ model.id }}"
                    >
                      {{ model.id }}
                    </button>
                  </td>
                  <td>
                    <strong class="d-block d-md-none">{{ labels.country.name.label }}</strong>
                    {{ model.name }}
                  </td>
                  <td>
                    <strong class="d-block d-md-none">{{ labels.country.code.label }}</strong>
                    {{ model.code }}
                  </td>

                  <td class="td-actions">
                    <button
                      *ngIf="hasPermission2delete"
                      (click)="showDeleteDialog(model)"
                      type="button"
                      class="btn btn-sm btn-danger btn-round btn-icon btn-icon-mini btn-neutral row-delete-country-{{
                        model.id
                      }}"
                      title="Borrar {{ labels.country.ownName }}: {{ model.id }}"
                    >
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div *ngIf="responseList.totalElements" class="col-12 col-md-6">
              <ngb-pagination
                [collectionSize]="responseList.totalElements"
                [page]="modelSearch.lazyLoadEvent.first"
                [pageSize]="modelSearch.lazyLoadEvent.rows"
                size="sm"
                [maxSize]="5"
                [boundaryLinks]="true"
                (pageChange)="changePage($event)"
                class="d-inline-block"
              ></ngb-pagination>
              <div class="ui-paginator ui-dropdown d-inline-block">
                <select
                  id="select-qty-table"
                  name="select-qty-table"
                  class="form-control m-1"
                  [(ngModel)]="modelSearch.lazyLoadEvent.rows"
                  (change)="changePageLimit($event)"
                >
                  <option *ngFor="let q of labels.misc.pageLimit" [value]="q.v">{{ q.c }}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <button (click)="onLazyLoad('export')" type="button" class="btn btn-primary m-1 w-100">
                Exportar resultados
              </button>
              <base-cms-file-upload
                [labels]="labels"
                id="country-importer"
                class="h-100"
                minHeight="100px"
                label="Importar CSV"
                name="massive-inserts"
                [showPublicPath]="false"
                [error]="csv?.error?.error"
                (finish)="massiveInsert($event, labels.country)"
                [url2showStaticImage]="labels.misc.csv"
                [value]="{id: -1, entity: labels.country.tableName, field: 'massive-inserts'}"
                [allowedTypes]="['text/csv', 'application/vnd.ms-excel']"
              ></base-cms-file-upload>
            </div>
          </div>
          <base-cms-spinner-loading *ngIf="loading" class="m-4"></base-cms-spinner-loading>
        </div>
      </div>
    </div>
  </div>
</div>
