/* tables */
.no-sorting {
  cursor: default;
}

.none {
  cursor: pointer;
}

.asc {
  div::after {
    content: '↑';
  }
}

.desc {
  div::after {
    content: '↓';
  }
}

.asc,
.desc {
  background-color: #0772bb !important;
  color: white !important;
  cursor: pointer;
}

.table {
  >thead>tr>th {
    font-weight: 600;
  }

  > :not(caption)>*>* {
    color: inherit;
    background-color: inherit;
  }
}

.ui-paginator.ui-dropdown {
  min-width: 4em;
  margin-left: 0.375em;
}

/* Section two */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Section three */
  .t-responsive {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Section four */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    /* Section five */
    td {
      /* border: none; */
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 3px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
  }
}
