.cursor-pointer {
  cursor: pointer;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-e-resize {
  cursor: e-resize;
}

.cursor-none {
  cursor: none !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-move {
  cursor: move;
}


.z-index-600 {
  z-index: 600;
}

.z-index-700 {
  z-index: 700;
}

.z-index-800 {
  z-index: 800;
}

.z-index-900 {
  z-index: 900;
}

.z-index-1000 {
  z-index: 1000;
}

/* -------------------------------------------------------------------------- */
/* width-height                                                               */
/* -------------------------------------------------------------------------- */

.w-100-px {
  width: 100px;
}

.w-50-px {
  width: 50px;
}

.h-100-px {
  height: 100px;
}

.h-50-px {
  height: 50px;
}

.min-h-500 {
  min-height: 500px;
}

.max-h-500 {
  max-height: 500px;
}

.r-0 {
  right: 0;
}

.l-0 {
  left: 0;
}

.t-0 {
  top: 0;
}

.b-0 {
  bottom: 0;
}
