<div *ngIf="person">
  <!-- form -->
  <form class="card" #modelForm="ngForm">
    <div class="card-body">
      <!-- firstName . init -->
      <div class="form-group">
        <label for="person-firstName">{{ labels.person.firstName.label }} *</label>
        <input
          id="person-firstName"
          name="person-firstName"
          [(ngModel)]="person.firstName"
          #person_firstName="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!person_firstName.valid && person_firstName.dirty && person_firstName.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.person.firstName.label }} es requerido
        </div>
      </div>
      <!-- firstName . end -->
      <!-- lastName . init -->
      <div class="form-group">
        <label for="person-lastName">{{ labels.person.lastName.label }} *</label>
        <input
          id="person-lastName"
          name="person-lastName"
          [(ngModel)]="person.lastName"
          #person_lastName="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!person_lastName.valid && person_lastName.dirty && person_lastName.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.person.lastName.label }} es requerido
        </div>
      </div>
      <!-- lastName . end -->
      <!-- cellPhone . init -->
      <div class="form-group">
        <label for="person-cellPhone">{{ labels.person.cellPhone.label }} </label>
        <input
          id="person-cellPhone"
          name="person-cellPhone"
          [(ngModel)]="person.cellPhone"
          #person_cellPhone="ngModel"
          class="form-control"
          type="text"
        />
      </div>
      <!-- cellPhone . end -->
      <!-- birthDate . init -->
      <div class="form-group">
        <label for="person-birthDate">{{ labels.person.birthDate.label }} </label>
        <div class="input-group">
          <input
            id="person-birthDate"
            name="person-birthDate"
            [(ngModel)]="person.birthDate"
            #person_birthDate="ngModel"
            #person_birthDate_date="ngbDatepicker"
            class="form-control"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
          />
          <button
            title="calendario"
            class="btn btn-outline-secondary m-0"
            (click)="person_birthDate_date.toggle()"
            type="button"
          >
            <i class="fa fa-calendar text-info"></i>
          </button>
        </div>
        <div
          *ngIf="!person_birthDate.valid && person_birthDate.dirty && person_birthDate.errors?.['ngbDate'].invalid"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.person.birthDate.label }} fecha invalida
        </div>
      </div>
      <!-- birthDate . end -->
      <!-- address . init -->
      <div class="form-group">
        <label for="person-address">{{ labels.person.address.label }} </label>
        <input
          id="person-address"
          name="person-address"
          [(ngModel)]="person.address"
          #person_address="ngModel"
          class="form-control"
          type="text"
        />
      </div>
      <!-- address . end -->
      <!-- neighborhood . init -->
      <div class="form-group">
        <label for="person-neighborhood">{{ labels.person.neighborhood.label }} </label>
        <input
          id="person-neighborhood"
          name="person-neighborhood"
          [(ngModel)]="person.neighborhood"
          #person_neighborhood="ngModel"
          class="form-control"
          type="text"
        />
      </div>
      <!-- neighborhood . end -->
    </div>
  </form>
  <!-- form . end -->
  <!-- related . init -- >
<div *ngIf="person?.id">    <nav ngbNav #nav="ngbNav" class="nav-tabs">
</nav><div [ngbNavOutlet]="nav" class="bg-white"></div></div>
<!-- related . end -->
</div>
