<div *ngIf="account">
  <!-- form -->
  <form class="card" #modelForm="ngForm">
    <div class="card-body">
      <!-- firstName . init -->
      <div class="form-group">
        <label for="account-firstName">{{ labels.account.firstName.label }} *</label>
        <input
          id="account-firstName"
          name="account-firstName"
          [(ngModel)]="account.firstName"
          #account_firstName="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!account_firstName.valid && account_firstName.dirty && account_firstName.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.account.firstName.label }} es requerido
        </div>
      </div>
      <!-- firstName . end -->
      <!-- lastName . init -->
      <div class="form-group">
        <label for="account-lastName">{{ labels.account.lastName.label }} *</label>
        <input
          id="account-lastName"
          name="account-lastName"
          [(ngModel)]="account.lastName"
          #account_lastName="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!account_lastName.valid && account_lastName.dirty && account_lastName.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.account.lastName.label }} es requerido
        </div>
      </div>
      <!-- lastName . end -->
      <!-- cellPhone . init -->
      <div class="form-group">
        <label for="account-cellPhone">{{ labels.account.cellPhone.label }} </label>
        <input
          id="account-cellPhone"
          name="account-cellPhone"
          [(ngModel)]="account.cellPhone"
          #account_cellPhone="ngModel"
          class="form-control"
          type="text"
        />
      </div>
      <!-- cellPhone . end -->
      <!-- birthDate . init -->
      <div class="form-group">
        <label for="account-birthDate">{{ labels.account.birthDate.label }} </label>
        <div class="input-group">
          <input
            id="account-birthDate"
            name="account-birthDate"
            [(ngModel)]="account.birthDate"
            #account_birthDate="ngModel"
            #account_birthDate_date="ngbDatepicker"
            class="form-control"
            placeholder="yyyy-mm-dd"
            ngbDatepicker
          />
          <button
            title="calendario"
            class="btn btn-outline-secondary m-0"
            (click)="account_birthDate_date.toggle()"
            type="button"
          >
            <i class="fa fa-calendar text-info"></i>
          </button>
        </div>
        <div
          *ngIf="!account_birthDate.valid && account_birthDate.dirty && account_birthDate.errors?.['ngbDate'].invalid"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.account.birthDate.label }} fecha invalida
        </div>
      </div>
      <!-- birthDate . end -->
      <!-- address . init -->
      <div class="form-group">
        <label for="account-address">{{ labels.account.address.label }} </label>
        <input
          id="account-address"
          name="account-address"
          [(ngModel)]="account.address"
          #account_address="ngModel"
          class="form-control"
          type="text"
        />
      </div>
      <!-- address . end -->
      <!-- neighborhood . init -->
      <div class="form-group">
        <label for="account-neighborhood">{{ labels.account.neighborhood.label }} </label>
        <input
          id="account-neighborhood"
          name="account-neighborhood"
          [(ngModel)]="account.neighborhood"
          #account_neighborhood="ngModel"
          class="form-control"
          type="text"
        />
      </div>
      <!-- neighborhood . end -->
      <!-- imei . init -->
      <div class="form-group">
        <label for="account-imei">{{ labels.account.imei.label }} *</label>
        <input
          id="account-imei"
          name="account-imei"
          [(ngModel)]="account.imei"
          #account_imei="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!account_imei.valid && account_imei.dirty && account_imei.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.account.imei.label }} es requerido
        </div>
      </div>
      <!-- imei . end -->
    </div>
  </form>
  <!-- form . end -->
</div>
