<div class="panel-header panel-header-sm" *ngIf="!isSubComponent"></div>
<div *ngIf="role" [class.main-content]="!isSubComponent">
  <!-- form -->
  <form class="card" #modelForm="ngForm">
    <div class="card-header">
      <h5 class="title d-inline-block">{{ labels.role.ownName }}</h5>
      <h6 class="ps-1 d-inline-block ms-2">{{ labels.role.id.label }} {{ role.id }}</h6>
    </div>
    <div class="card-body">
      <!-- name . init -->
      <div class="form-group">
        <label for="role-name">{{ labels.role.name.label }} *</label>
        <input
          id="role-name"
          name="role-name"
          [(ngModel)]="role.name"
          #role_name="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!role_name.valid && role_name.dirty && role_name.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.role.name.label }} es requerido
        </div>
      </div>
      <!-- name . end -->
      <!-- description . init -->
      <div class="form-group">
        <label for="role-description">{{ labels.role.description.label }} *</label>
        <input
          id="role-description"
          name="role-description"
          [(ngModel)]="role.description"
          #role_description="ngModel"
          class="form-control"
          type="text"
          required
          placeholder="Requerido"
        />
        <div
          *ngIf="!role_description.valid && role_description.dirty && role_description.errors?.['required']"
          class="alert alert-danger form-text"
          role="alert"
        >
          {{ labels.role.description.label }} es requerido
        </div>
      </div>
      <!-- description . end -->
    </div>

    <div *ngIf="permissionAll" class="card-body roles">
      <!-- permissions . init -->
      <div class="form-group">
        <label for="role-permissions">{{ labels.role.permissions.label }} *</label>
        <input
          type="hidden"
          id="role-permissions"
          name="role-permissions"
          #rolePermissionIds="ngModel"
          [(ngModel)]="roleIdsPermissionStr"
          required
        />
        <div *ngIf="!roleIdsPermissionStr" class="alert alert-danger form-text" mark="alert">
          Seleccione los permisos para este rol
        </div>
      </div>
      <!-- permissions . end -->
      <nav ngbNav #nav="ngbNav" class="nav-tabs" activeId="x0">
        <ng-container *ngFor="let menu of permissionAll; let i = index" [ngbNavItem]="'x' + i" ngbNavItem>
          <a ngbNavLink>{{ menu.name }} </a>
          <ng-template ngbNavContent>
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <label for="permission_isSection_{{ menu.id }}">
                  Sección:
                  <input
                    type="checkbox"
                    id="permission_isSection_{{ menu.id }}"
                    value="{{ menu.id }}"
                    (click)="permissionSelected(menu)"
                    [checked]="permissionIsSelected(menu)"
                  />
                  {{ menu.name }}
                </label>
                <button (click)="permissionSelected(menu, true)" type="button" class="btn btn-link m-1">
                  todos en esta sección
                </button>
              </div>
              <div class="card-body">
                <div class="row" *ngFor="let subMenu of menu.subMenus">
                  <div class="col-12 col-md-2">
                    <label for="permission_isVisible_{{ subMenu.id }}">
                      <input
                        type="checkbox"
                        id="permission_isVisible_{{ subMenu.id }}"
                        value="{{ subMenu.id }}"
                        (click)="permissionSelected(subMenu)"
                        [checked]="permissionIsSelected(subMenu)"
                      />
                      {{ subMenu.name }}
                    </label>
                  </div>
                  <div class="col-12 col-md-10">
                    <div class="row">
                      <div class="col-12 col-md-3" *ngFor="let action of subMenu.actions">
                        <label for="permission_isAction_{{ action.id }}">
                          <input
                            type="checkbox"
                            id="permission_isAction_{{ action.id }}"
                            value="{{ action.id }}"
                            (click)="permissionSelected(action)"
                            [checked]="permissionIsSelected(action)"
                          />
                          {{ action.name }}
                        </label>
                      </div>
                    </div>
                  </div>
                  <hr class="clearfix w-100" />
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </nav>
      <div [ngbNavOutlet]="nav" class="bg-white"></div>
    </div>
    <div class="card-footer">
      <button (click)="onBack()" type="button" class="btn btn-secondary m-1">Regresar</button>
      <button
        *ngIf="hasPermission2edit"
        (click)="onSave()"
        type="submit"
        class="btn btn-primary m-1"
        [disabled]="!modelForm.form.valid || sending"
      >
        Guardar
        <div *ngIf="sending" class="fa-3x i-sending mx-1 float-end">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
      </button>
      <button
        *ngIf="hasPermission2new && !isSubComponent && role.id"
        (click)="addNew()"
        type="button"
        class="btn btn-warning m-1"
      >
        Agregar otro
      </button>
    </div>
  </form>
  <!-- form . end -->
</div>
